a {
   color: white;
}
 a:hover {
     color: white;
    text-decoration: underline;
    }
#email{
   color: black;
}
@keyframes maintext {
   from {opacity: 0;}
   to {opacity: 1;}
   }
 #home{
   background-image: url('../img/homepagebg.jpg');
   background-size: cover;
}
#hometext {
   background-color: rgba(255,255,255,0.5);
   animation-name: maintext;
   animation-duration: 5s;
   text-align: center;
   padding: 25% 0;
}
/*p {
   animation-name: maintext;
   animation-duration: 4s;
   text-align: center;
   padding: 25% 0;
   
}*/
